@use '../../scss/' as *;
.heroSlide{
    margin-bottom: 3rem;
}

.container{
    max-width: 1660px;
    margin:auto;
  }

.heroSlideItem{
    padding: 9rem 0;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }
}

.heroSlideItem{
    width: 100%;
    height: 100vh;
}