@use '../../scss/' as *;
.heroSlide{
    margin-bottom: 3rem;
}

.heroSlideItem{
    padding: 9rem 0;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;

    &::before{
        
    }
}