@use '../../scss/' as *;

.logo{
    font-size:2.5rem;
    font-weight:600;

    @include flex(center,unset);

    img{
        margin-right:10px;
        width:50px;
        
        // @include mobile{
        //     width: 100px;
        //     margin-right: 0;
        // }
    }
}

.header{
    height: $header-height;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height .3 ease , background-color .3 ease;

    &.shrink{
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &__wrap{
        @include flex(center,space-between);
        height: 100%;
        padding:0 2rem;

        // @include mobile{
        //     justify-content: center;
        // }
    }

    &__nav{
        @include flex(center,unset);
        li{
            margin-left:2rem;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;
            padding: 5px 0;
        }
    }
}